@import "../../styles/color";

.example-container {
    display: flex;
    flex-direction: column;
}

.container{
    width: 100%;
    height: 100%;
}

.header {
    color: #6f74dd;
}

.example-card {
    margin-left: auto;
    margin-right: auto;
    width:80%;
    max-width: 100% !important;
  }

  a{
      font-size: 15px
  }
  
  a.active{
    font-weight: bold;
  }
  
  a.upcoming{
      color: grey;
  }
  
  .example-card {
    max-width: 400px;
  }
  
  .example-full-width {
    width: 100%;
  }